.flexbox-container {
	display: flex;
}

.flexbox-item {
	width: 200px;
	margin: 10px;
	border:: 3px solid black;
	background: white;
}

.flexbox-item-1 {
	min-height: 100px;
}

.flexbox-item-1 {
	min-height: 200px;
}
.flexbox-item-1 {
	min-height: 300px;
}